/*cabeçalho*/
.cabecalho{
	width: 100%;
	float: left;
	padding: 3% 4%;
}
.logo{
	width: 56px;
	height: 56px;
	float: left;
	background: url(../imagens/logo-mobile.png) center center/56px no-repeat;
	font-size: 0; 
}