/*cabeçalho*/
.cabecalho{
	width: 100%;
	float: left;
	padding: 3% 4%;
}
.logo{
	width: 56px;
	height: 56px;
	float: left;
	background: url(../imagens/logo-mobile.png) center center/56px no-repeat;
	font-size: 0; 
}
/*menu botão*/
.btn-menu{
	float: right;
	width: 56px;
	height: 56px;
	border-radius: 56px;
	background: linear-gradient(to right, #ce2e3c, #da6709);
	text-align: center;
	color: #fff;
	cursor: pointer;	
}
/*menu*/
.menu{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.9);
	top: 0;
	left: 0;
	/*display: none;*/
}
.close-menu{
	font-size: 3em;
	float: right;
	margin-right: 5%;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
}
.menu ul{
	width: 100%;
	float: left;
	text-align: center;
}
.menu li{
	padding: 1.5%;
}
.menu li a{
	font-size: 2em;
	color: #fff;
	padding: 1.5% 3%;
}
.menu li a:hover{
	border: 1px solid #da6709;
}
/*banner*/
.banner{
	width: 100%;
	float: left;
	padding: 3% 4%;
	background: url(../imagens/bg.jpg) no-repeat fixed;
	text-align: center;
}
.title{
	width: 100%;
}
.title h2{
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-size: 2.5em;
	font-weight: 600;
}
.title h3{
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-size: 1.5em;
	line-height: 25px;
}
.buttons{
	width: 100%;
}
.btn-cadastrar{
	width: 100%;
	background-color: #fff;
	margin-top: 5%;
	float: left;
	border-radius: 10px;
	padding: 5%;
	text-align: left;
	cursor: pointer;
	color: #130400;
	font-size: 1.2em;
}
.btn-sobre{
	width: 100%;
	background-color: #130400;
	color: #fff;
	margin-top: 2%;
	float: left;
	border-radius: 10px;
	padding: 5%;
	text-align: left;
	cursor: pointer;
	font-size: 1.2em;
}
.buttons i{
	float: right;
}